@{
  ViewData["Title"] = "Chart of Accounts - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

@{
  string headerText = "Chart of Accounts";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex margin-bottom-5px">
  <div>
    <a asp-action="Create" asp-controller="ChartOfAccount" class="font-Roboto font-size-20px">Create Account</a>
  </div>
</div>

<template id="account-template">
  <div>
    <div class="display-flex border-bottom-1px-solid-lightgray padding-top-bottom-2px">
      <div class="display-flex flex-1">
        <a href="#" @@click.prevent="handleAccountClick(account.chartOfAccountID)">
          {{ account.name }}
        </a>
        <span>&nbsp;</span>
        <div v-if="account.selectedChartOfAccountID === account.chartOfAccountID" class="display-flex">
          <div class="display-flex flex-direction-column background-color-333333 padding-left-5px border-top-bottom-left-radius-5px padding-right-5px">
            <div class="flex-1"></div>
            <a class="font-size-12px font-Roboto  color-white text-decoration-none cursor-default"
               >options:</a>
            <div class="flex-1"></div>
          </div>
          <div class="display-flex 
              flex-direction-column
              background-color-333333 
              padding-right-5px 
              padding-left-5px 
              margin-left-2px">
            <div class="flex-1"></div>
            <a class="font-size-16px font-Roboto color-white text-decoration-none"
               :href="`/coa/update/${account.chartOfAccountID}`">Update</a>
            <div class="flex-1"></div>
          </div>
          <div class="display-flex
              flex-direction-column
              background-color-333333
              padding-right-5px
              border-top-bottom-right-radius-5px
              padding-left-5px
              margin-left-2px">
            <div class="flex-1"></div>
            <a class="font-size-16px font-Roboto color-white text-decoration-none"
               :href="`/coa/create/${account.chartOfAccountID}`">Add</a>
            <div class="flex-1"></div>
          </div>
        </div>
      </div>
      <div>{{ account.type }}</div>
    </div>
    <div v-if="account.children && account.children.length" class="margin-left-25px">
      <template v-for="childAccount in account.children" :key="childAccount.chartOfAccountID">
        <account :account="childAccount" @@account-clicked="handleAccountClick"></account>
      </template>
    </div>
  </div>
</template>

<div id="app" class="display-flex flex-direction-column font-Roboto-Mono">
  <template v-for="account in accounts" :key="account.chartOfAccountID">
    <account :account="account" @@account-clicked="onAccountClicked"></account>
  </template>
</div>

<script>
  const { createApp } = Vue;

  const Account = {
    name: 'account',
    template: '#account-template',
    props: ['account'],
    methods: {
      handleAccountClick(chartOfAccountID) {
        console.log(chartOfAccountID);
        this.$emit('account-clicked', chartOfAccountID);
      },
    }
  };

  const app = createApp({
    components: {
      'account': Account
    },
    data() {
      return {
        accounts: [],
        selectedChartOfAccountID: null
      }
    },
    methods: {
      onAccountClicked(chartOfAccountID) {
        console.log('Account clicked:', chartOfAccountID);

        if (this.selectedChartOfAccountID === chartOfAccountID) {
          this.selectedChartOfAccountID = null;
        } else {
          this.selectedChartOfAccountID = chartOfAccountID;
        }

        this.accounts = this.accounts.map(account => this.resetSelectedChartOfAccountID(account, this.selectedChartOfAccountID));
      },
      addSelectedChartOfAccountID(accounts) {
        return accounts.map(account => this.resetSelectedChartOfAccountID(account));
      },
      resetSelectedChartOfAccountID(account, selectedID = null) {
        const children = account.children ? account.children.map(child => this.resetSelectedChartOfAccountID(child, selectedID)) : [];
        return { ...account, children, selectedChartOfAccountID: selectedID };
      },
    },
    mounted() {
      fetch('/api/coa/all')
        .then(response => response.json())
        .then(data => {
          this.accounts = this.addSelectedChartOfAccountID(data);
        });
    },
  });

  app.mount('#app');
</script>