@model Accounting.Models.RegistrationViewModels.CompositeRegistrationViewModel

@{
  ViewData["Title"] = "Register - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Register";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<div id="app">
  <!-- Email input always visible -->
  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <div class="display-flex flex-direction-column background-color-antiquewhite margin-bottom-5px">
      <label class="background-color-antiquewhite">Email</label>
      <input name="Email" class="font-size-20px font-Roboto-Mono" autocomplete="off" tabindex="1" placeholder="Email" />
    </div>
    <span>
      <div class="display-flex margin-bottom-10px">
        <span class="margin-right-15px">
          <input type="radio" id="shared-radio" value="shared" v-model="selectedType" class="margin-bottom-5px" />
          <label for="shared-radio">shared</label>
        </span>
        <span class="margin-right-15px">
          <input type="radio" id="dedicated-radio" value="dedicated" v-model="selectedType" class="margin-bottom-5px" />
          <label for="dedicated-radio">dedicated</label>
        </span>
        <span>
          <input type="radio" id="independent-radio" value="independent" v-model="selectedType" class="margin-bottom-5px" />
          <label for="independent-radio">independent</label>
        </span>
      </div>
    </span>
  </div>

  <!-- Shared Registration Form -->
  <form v-if="selectedType === 'shared'" asp-action="RegisterShared" asp-controller="Registration" method="post" class="display-flex flex-direction-column margin-bottom-5px">
    <input type="hidden" name="Email" :value="getEmail()" />
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Password</label>
  <input name="Password" type="password" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Password" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">First name</label>
  <input name="FirstName" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="First name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Last name</label>
  <input name="LastName" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Last name" />
</div>
    <button type="submit" class="full-width-regular-button">Register</button>
  </form>

  <!-- Dedicated Registration Form -->
  <form v-if="selectedType === 'dedicated'" asp-action="RegisterDedicated" asp-controller="Registration" method="post" class="display-flex flex-direction-column margin-bottom-5px">
    <input type="hidden" name="Email" :value="getEmail()" />
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Password</label>
  <input name="Password" type="password" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Password" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">First name</label>
  <input name="FirstName" class="margin-bottom-5px font-size-20px" placeholder="First name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Last name</label>
  <input name="LastName" class="margin-bottom-5px font-size-20px" placeholder="Last name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Fully qualified domain name</label>
  <input name="FullyQualifiedDomainName" class="margin-bottom-5px font-size-20px" placeholder="Fully qualified domain name" />
</div>
    <button type="submit" class="full-width-regular-button">Register</button>
  </form>

  <!-- Independent Registration Form -->
  <form v-if="selectedType === 'independent'" asp-action="RegisterIndependent" asp-controller="Registration" method="post" class="display-flex flex-direction-column margin-bottom-5px">
    <input type="hidden" name="Email" :value="getEmail()" />
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Password</label>
  <input name="Password" type="password" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Password" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">First name</label>
  <input name="FirstName" class="margin-bottom-5px font-size-20px" placeholder="First name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Last name</label>
  <input name="LastName" class="margin-bottom-5px font-size-20px" placeholder="Last name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Fully qualified domain name</label>
  <input name="FullyQualifiedDomainName" class="margin-bottom-5px font-size-20px" placeholder="Fully qualified domain name" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">No reply email address</label>
  <input name="NoReplyEmailAddress" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="No reply email address" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Email key</label>
  <input name="EmailKey" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Email key" />
</div>
    <div class="display-flex flex-direction-column">
  <label class="background-color-antiquewhite">Cloud key</label>
  <input name="CloudKey" class="margin-bottom-5px font-size-20px font-Roboto-Mono" placeholder="Cloud key" />
</div>
    <button type="submit" class="full-width-regular-button">Register</button>
  </form>
</div>

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>
<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        selectedType: 'shared',
        email: ''
      }
    },
    methods: {
      getEmail() {
        // Get email from the always-visible input
        return this.email;
      }
    },
    watch: {
      email(val) {
        // Keep hidden email fields in sync
      }
    }
  }).mount('#app');
</script>