@model Accounting.Models.DiagnosticsViewModels.ExceptionsPaginatedViewModel

@{
  ViewData["Title"] = "Exceptions - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Exceptions";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div>
    <a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">
      Home
    </a>
  </div>
</div>

<div id="app">
  <table ref="exceptionsTable" class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
      <tr>
        <th class="text-align-left width-1px padding-right-20px">#</th>
        <th class="text-align-left width-1px padding-right-20px">ID</th>
        <th class="text-align-left width-1px padding-right-20px">Message</th>
        <th class="text-align-left width-1px padding-right-20px">Trace</th>
        <th class="text-align-left width-1px padding-right-20px">Source</th>
        <th class="text-align-left width-1px padding-right-20px">HResult</th>
        <th class="text-align-left width-1px padding-right-20px">Target</th>
        <th class="text-align-left width-1px padding-right-20px">Exception</th>
        <th class="text-align-left width-1px padding-right-20px">Request</th>
        <th class="text-align-right width-1px">Created</th>
      </tr>
    </thead>
    <tbody class="font-Roboto-Mono">
      <tr v-for="ex in exceptions" :key="ex.exceptionID">
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.rowNumber }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.exceptionID }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.message }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.stackTrace }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.source }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.hResult }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.targetSite }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.innerException }}</div>
        </td>
        <td class="padding-0px width-1px">
          <div class="hidden-nowrap-ellipsis">{{ ex.requestLogId }}</div>
        </td>
        <td class="text-align-right width-1px white-space-nowrap padding-0px">
          <div class="hidden-nowrap-ellipsis">{{ ex.created }}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-component :prev-page-url="`/diagnostics/exceptions?page=${page - 1}&pageSize=${pageSize}`"
                        :next-page-url="nextPage ? `/diagnostics/exceptions?page=${nextPage}&pageSize=${pageSize}` : ''"
                        :is-filtered="false"
                        :page="page">
  </pagination-component>
</div>

<script src="~/js/PaginationComponent.js" asp-append-version="true"></script>

<script>
  const { createApp } = Vue;

  const app = createApp({
    components: {
      'pagination-component': PaginationComponent
    },
    data() {
      return {
        exceptions: [],
        page: @Model.Page,
        pageSize: @Model.PageSize,
        nextPage: null,
        headerWidths: []
      };
    },
    methods: {
      setTdWidths() {
        const table = this.$refs.exceptionsTable;
        if (!table) return;
        const rows = table.querySelectorAll('tbody tr');
        rows.forEach(row => {
          const tds = row.querySelectorAll('td');
          tds.forEach((td, i) => {
            const innerDiv = td.querySelector('div');
            if (innerDiv && this.headerWidths[i]) {
              innerDiv.style.width = this.headerWidths[i] + 'px';
            }
          });
        });
      },
      fetchExceptions() {
        fetch(`/api/diagnostics/get-exceptions?page=${this.page}&pageSize=${this.pageSize}`)
          .then(response => response.json())
          .then(data => {
            this.exceptions = data.exceptions;
            this.$nextTick(() => {
              this.setTdWidths();
            });
            if (data.page > 0) {
              this.page = data.page;
            }
            if (data.nextPage > 0) {
              this.nextPage = data.nextPage;
            } else {
              this.nextPage = null;
            }
          });
      },
      recordHeaderWidths() {
        this.headerWidths = [];
        const table = this.$refs.exceptionsTable;
        if (!table) return;
        const ths = table.querySelectorAll('thead th');
        ths.forEach(th => {
          this.headerWidths.push(th.offsetWidth);
        });
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.recordHeaderWidths();
      });
      this.fetchExceptions();
    }
  });

  app.mount('#app');
</script>