@model Accounting.Models.LocationViewModels.CreateLocationViewModel

@{
  ViewData["Title"] = "Create location - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="~/js/vue-3-5-13.js" asp-append-version="true"></script>

@{
  string headerText = "Create location";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form id="app" asp-action="Create" asp-controller="Location" method="post" class="display-flex flex-direction-column margin-bottom-5px">

  <input type="hidden" asp-for="ParentLocationId" />

  @if (Model.ParentLocation != null)
  {
    <div class="display-flex margin-bottom-5px background-color-antiquewhite">
      <div>Parent location:</div>
      <div class="display-flex flex-direction-column">
        <a asp-action="Update"
           asp-controller="Location"
           asp-route-locationId="@Model.ParentLocationId"
           class="font-Roboto-Mono margin-left-5px">@Model.ParentLocation.Name</a>
      </div>
    </div>
  }

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Name"></label>
    <input asp-for="Name"
           class="font-size-20px"
           maxlength="100" />
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="font-size-20px" rows="6"></textarea>
  </div>

  <button type="submit" class="full-width-regular-button">Create location</button>
</form>