@model Accounting.Models.TenantViewModels.OrganizationsViewModel

@{
	ViewData["Title"] = "Organizations - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
	string headerText = "Organizations";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
	<div class="margin-left-20px">
		<a asp-action="CreateOrganization" asp-controller="Tenant" asp-route-tenantId="@Model.TenantId"
			 class="font-Roboto font-size-16px color-blue">Create Organization</a>
	</div>
	<div class="margin-left-20px flex-1 text-align-right">
		<a asp-action="Tenants" asp-controller="Tenant"
			 class="font-Roboto font-size-16px color-blue">Tenants</a>
		<a asp-action="Index" asp-controller="Home"
			 class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
	</div>
</div>

<div id="app">
	<table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
		<thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
			<tr>
				<th class="text-align-left padding-right-20px">Organization Name</th>
			</tr>
		</thead>
		<tbody class="font-Roboto-Mono">
			<template v-for="organization in organizations" :key="organization.name">
				<tr>
					<td class="padding-right-20px">{{ organization.Name }}</td>
				</tr>
			</template>
		</tbody>
	</table>
</div>

<script>
	const { createApp } = Vue;

	const app = createApp({
		data() {
			return {
				organizations: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Organizations))
			};
		}
	});

	app.mount("#app");
</script>