@model Accounting.Models.Tenant.ProvisionTenantViewModel

@{
  ViewData["Title"] = "Provision Tenant - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

@{
  string headerText = "Provision Tenant";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="ProvisionTenant" asp-controller="Tenant" method="post"
      class="display-flex flex-direction-column margin-bottom-5px">

  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label for="Email" class="font-Roboto font-size-20px background-color-antiquewhite">Email</label>
    <input type="email" id="Email" name="Email" class="font-size-20px" required />
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-white">
    <label asp-for="Shared" class="font-Roboto font-size-20px background-color-antiquewhite">Shared</label>
    <div>
      <input asp-for="Shared" type="checkbox" />
    </div>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label for="Name" class="font-Roboto font-size-20px background-color-antiquewhite">Fully qualified domain name (accounting.example.com). *</label>
    <input type="text" id="Name" name="Name" class="font-size-20px" required />
    <div class="background-color-antiquewhite">
      * required if not shared
    </div>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px">
    <button type="submit" class="full-width-regular-button">Provision Tenant</button>
  </div>
</form>

@if (Model != null && Model.ValidationResult != null)
{
  foreach (var error in Model.ValidationResult.Errors)
  {
    <div>
      <small class="color-red">@error.ErrorMessage</small>
    </div>
  }
  <div class="margin-bottom-5px">
  </div>
}