@model Accounting.Models.PaginatedViewModel

@{
  ViewData["Title"] = "Tenants - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Tenants";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div>
    <a asp-action="ProvisionTenant" asp-controller="Tenant" class="font-Roboto font-size-20px text-decoration-none color-darkslategray">Provision Tenant</a>
  </div>
</div>

<div id="app">
  <table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
      <tr>
        <th></th>
        <th class="text-align-left">
          <input type="text" v-model="fullyQualifiedDomainNameFilter" @@input="filterFullyQualifiedDomainName" placeholder="FullyQualifiedDomainName" class="font-size-16px width-100" />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="2" class="text-align-center padding-right-20px">SSH</th>
      </tr>
      <tr>
        <th class="text-align-left width-1px padding-right-20px">#</th>
        <th class="text-align-left padding-right-20px white-space-nowrap">Fully Qualified Domain Name</th>
        <th class="text-align-left padding-right-20px">Email</th>
        <th class="text-align-left width-1px padding-right-20px white-space-nowrap">Droplet Id</th>
        <th class="text-align-left width-1px padding-right-20px">IPV4</th>
        <th class="text-align-left width-1px padding-right-20px">Public</th>
        <th class="text-align-left width-1px white-space-nowrap">Private</th>
      </tr>
    </thead>
    <tbody class="font-Roboto-Mono">
      <template v-for="tenant in tenants" :key="tenant.id">
        <tr>
          <td class="padding-right-20px">{{ tenant.id }}</td>
          <td class="padding-right-20px">{{ tenant.fullyQualifiedDomainName }}</td>
          <td class="padding-right-20px">{{ tenant.email }}</td>
          <td class="padding-right-20px">{{ tenant.dropletId }}</td>
          <td class="padding-right-20px">{{ tenant.ipv4 }}</td>
          <td class="padding-right-20px">{{ tenant.sshPublic }}</td>
          <td class="white-space-nowrap">{{ tenant.sshPrivate }}</td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

<script>
  const { createApp } = Vue;

  const app = createApp({
    data() {
      return {
        tenants: [],
        selectedTenantID: null,
        page: @Model.Page,
        pageSize: @Model.PageSize,
        nextPage: null,
        fullyQualifiedDomainNameFilter: ''
      };
    },
    methods: {
      fetchTenants() {
        fetch(`/api/tenant/get-all-tenants?page=${this.page}&pageSize=${this.pageSize}`)
          .then(response => response.json())
          .then(data => {
            this.tenants = data.tenants;
            this.nextPage = data.nextPage;
          })
          .catch(error => {
            console.error('Error fetching tenants:', error);
          });
      },
      filterFullyQualifiedDomainName() {
        // Implement your filtering logic here
        this.tenants = this.tenants.filter(tenant => tenant.domainName.includes(this.fullyQualifiedDomainNameFilter));
      },
    },
    mounted() {
      this.fetchTenants();
    }
  });

  app.mount("#app");
</script>