@{
  ViewData["Title"] = "Tenant Users - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Tenant Users";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div>
    <a asp-action="Tenants" asp-controller="Tenant"
       class="font-Roboto font-size-16px color-blue">Tenants</a>
  </div>
  <div>
    <a asp-action="AddUserOrganization"
       asp-controller="Tenant"
       asp-route-tenantId="@Model.TenantId"
       class="font-Roboto font-size-16px color-blue margin-left-20px">
      Add User-Organization
    </a>
  </div>
</div>

<div id="app">
</div>

@*[AuthorizeWithOrganizationId]
  [Route("api/tenant")]
  [ApiController]
  public class TenantApiController : BaseController *@

<script>
  const { createApp } = Vue;

  const app = createApp({
    data() {
      return {
        tenantId: @Model.TenantId,
        userOrganizations: []
      };
    },
    methods: {
      fetchUserOrganizations() {
        fetch(`/api/tenant/${this.tenantId}/user-organizations`)
          .then(response => response.json())
          .then(data => {
            this.userOrganizations = data;
          });
      }
    },
    mounted(){
      this.fetchUserOrganizations();
    }
  });

  app.mount('#app');
</script>