@model Accounting.Models.TenantViewModels.ProvisionTenantViewModel

@{
  ViewData["Title"] = "Provision Tenant - " + ConfigurationSingleton.Instance.ApplicationName;
}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

@{
  string headerText = "Provision Tenant";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="ProvisionTenant" asp-controller="DeploymentAndProvisioning" method="post"
      class="display-flex flex-direction-column margin-bottom-5px">

  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label for="Email" class="font-Roboto font-size-20px background-color-antiquewhite">Email</label>
    <input type="email" id="Email" name="Email" class="font-size-20px" required />
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px">
    <button type="submit" class="full-width-regular-button">Provision Tenant</button>
  </div>

</form>