@model Accounting.Models.ApplicationSettingViewModels.CreateApplicationSettingViewModel

@{
  ViewData["Title"] = "Create Application Setting - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Create Application Setting";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="Upsert" asp-controller="ApplicationSetting" method="post"
      class="display-flex flex-direction-column margin-bottom-5px">

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Key"></label>
    <input asp-for="Key" class="font-size-20px" />
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Value"></label>
    <input asp-for="Value" class="font-size-20px" />
  </div>

  <button type="submit" class="full-width-regular-button">Create Application Setting</button>
</form>