@model Accounting.Models.PaymentTermViewModels.CreatePaymentTermsViewModel

@{
    ViewData["Title"] = "Create Payment Term - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Create Payment Term";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="Create" asp-controller="PaymentTerm" method="post" class="display-flex flex-direction-column">
     <div class="display-flex flex-direction-column">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="margin-bottom-5px font-size-20px" />
    </div>
    <div class="display-flex flex-direction-column">
        <label asp-for="DaysUntilDue"></label>
        <input asp-for="DaysUntilDue" class="margin-bottom-5px font-size-20px" />
    </div>
    <button type="submit" class="full-width-regular-button">Create Payment Term</button>
</form>

@if (Model != null && Model.ValidationResult != null)
{
    foreach (var error in Model.ValidationResult.Errors)
    {
        <div>
            <small class="color-red">@error.ErrorMessage</small>
        </div>
    }
}