@model Accounting.Models.PaymentTermViewModels.CreatePaymentTermsViewModel

@{
  ViewData["Title"] = "Create Payment Term - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Create Payment Term";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
  <div>
    <a asp-action="Index" asp-controller="PaymentTerm"
       class="font-Roboto font-size-16px color-blue margin-left-20px">Payment Terms</a>
  </div>
  <div class="margin-left-20px flex-1 text-align-right">
    <a asp-action="Index" asp-controller="Home"
       class="font-Roboto font-size-16px color-blue margin-left-20px">Home</a>
  </div>
</div>

<form asp-action="Create" asp-controller="PaymentTerm" method="post" class="display-flex flex-direction-column margin-bottom-5px">
  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label asp-for="Description" class="font-Roboto font-size-16px background-color-antiquewhite"></label>
    <input asp-for="Description" class="font-size-16px margin-bottom-5px" required />
  </div>
  <div class="display-flex flex-direction-column margin-bottom-5px">
    <label asp-for="DaysUntilDue" class="font-Roboto font-size-16px background-color-antiquewhite"></label>
    <input asp-for="DaysUntilDue" class="font-size-16px margin-bottom-5px" required />
  </div>
  <div class="display-flex flex-direction-column margin-bottom-5px">
    <button type="submit" class="full-width-regular-button">Create Payment Term</button>
  </div>
</form>

@if (Model != null && Model.ValidationResult != null)
{
  foreach (var error in Model.ValidationResult.Errors)
  {
    <div>
      <small class="color-red">@error.ErrorMessage</small>
    </div>
  }
}