<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@{
  var organizationName = User.FindFirst(Accounting.Business.Claim.CustomClaimTypeConstants.OrganizationName)?.Value;
}

<body>
  <div>
    @RenderBody()
  </div>

  <footer class="width-100 text-align-center">
    
  </footer>
</body>
</html>