@model Accounting.Models.SecretViewModels.DeleteSecretViewModel

@{
  ViewData["Title"] = "Delete Secret - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Delete secret";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="Delete" asp-controller="Secret" method="post"
      class="display-flex flex-direction-column margin-bottom-5px">

  <input asp-for="SecretID" type="hidden" />

  <div class="display-flex">
    <div class="display-flex flex-1 flex-direction-column background-color-antiquewhite margin-bottom-5px">
      <label asp-for="Type">Type</label>
      <input asp-for="Type" class="font-size-20px" readonly />
    </div>
  </div>

  <div class="display-flex flex-direction-column margin-bottom-5px background-color-antiquewhite">
    <label asp-for="Purpose">Purpose</label>
    <input asp-for="Purpose" class="font-size-20px" readonly />
  </div>

  <div class="display-flex">
    <div class="flex-1">
      <button class="full-width-regular-button width-100" type="button" onclick="event.preventDefault(); window.location.href='@Url.Action("Secrets", "Secret")';">Cancel</button>
    </div>
    <div class="width-5px"></div>
    <div class="flex-1">
      <button type="submit" class="full-width-orange-red-button width-100">Delete</button>
    </div>
  </div>
</form>