@model Accounting.Models.ReconciliationViewModels.ImportViewModel

@{
  ViewData["Title"] = "Reconciliation - Import - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Reconciliation Import";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<form asp-action="Import" asp-controller="Reconciliation" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="file">Upload CSV File:</label>
    <input type="file" id="file" name="file" class="form-control" required />
  </div>
  <button type="submit" class="btn btn-primary">Import</button>
</form>