@model Accounting.Models.RegistrationViewModels.RegisterViewModel

@{
	ViewData["Title"] = "Registration complete - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
	string headerText = "Registration complete";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<div class="display-flex flex-direction-column">
	<p>Thank you for registering. You will receive an email once your resources have been provisioned. Shared is provisioned instantly, dedicated takes a few moments.</p>
</div>