@model string

@{
  ViewData["Title"] = "Complete Login Without Password - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Complete Login Without Password";
}

<partial name="_H1HeaderPartial" model="@headerText" />

<form class="display-flex flex-direction-column">
  <div class="display-flex flex-direction-column">
    <p class="margin-bottom-5px font-size-20px font-Roboto-Mono">
      We've sent a login link to @Model
    </p>
    <p class="font-Roboto">
      Please check your email to complete the login process.
    </p>
  </div>
</form>