@model Accounting.Models.UserViewModels.UsersPaginatedViewModel

@{
	ViewData["Title"] = "Users - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
	string headerText = "Users";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="display-flex margin-bottom-5px background-color-antiquewhite">
	<div>
		<a asp-action="Create" asp-controller="User" class="font-Roboto font-size-16px color-blue margin-left-20px">
			Create user
		</a>
	</div>
	<div class="margin-left-20px flex-1 text-align-right">
		<a asp-action="Index" asp-controller="Home" class="font-Roboto font-size-16px color-blue margin-left-20px">
			Home
		</a>
	</div>
</div>

<div id="app">
  <table class="border-collapse width-100 margin-bottom-5px background-color-antiquewhite">
    <thead class="border-bottom-1px-solid-1a3b56 font-Roboto">
      <tr>
        <th class="text-align-left width-1px padding-right-20px">#</th>
        <th class="text-align-left padding-right-20px">Email</th>
        <th class="text-align-right width-1px padding-right-20px white-space-nowrap">First Name</th>
        <th class="text-align-right width-1px white-space-nowrap">Last Name</th>
      </tr>
    </thead>
    <tbody class="font-Roboto-Mono">
      <tr v-for="user in users" :key="user.userID">
        <td class="padding-right-20px">{{ user.userID }}</td>
        <td class="padding-right-20px">{{ user.email }}</td>
        <td class="text-align-right padding-right-20px white-space-nowrap">{{ user.firstName }}</td>
        <td class="text-align-right white-space-nowrap white-space-nowrap">{{ user.lastName }}</td>
      </tr>
    </tbody>
  </table>

  <div v-if="(page > 1 || nextPage) && !isFiltered"
       class="margin-bottom-5px display-flex font-Roboto font-size-16px background-color-antiquewhite">
    <div>
      <a :href="`/u/users?page=${page - 1}&pageSize=${pageSize}`" v-if="page > 1" class="color-blue">prev</a>
    </div>
    <div class="flex-1"></div>
    <div>
      <a :href="`/u/users?page=${nextPage}&pageSize=${pageSize}`" v-if="nextPage" class="color-blue">next</a>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue;

  const app = createApp({
    components: {

    },
    data() {
      return {
        users: [],
        page: @Model.Page,
        pageSize: @Model.PageSize,
        nextPage: null,
        rememberPageSize: @(Model.RememberPageSize ? "true" : "false"),
        userFilter: ''
      };
    },
    computed: {
      isFiltered() {
        return !!this.userFilter;
      }
    },
    methods: {
      fetchUsers() {
        let apiUrl = `/api/user/get-users?page=${this.page}&pageSize=${this.pageSize}`;

        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            this.users = data.users;
            if (data.page > 0) {
              this.page = data.page;
            }
            if (data.nextPage > 0) {
              this.nextPage = data.nextPage;
            }
          });
      }
    },
    mounted() {
      this.fetchUsers();
    }
  });

  app.mount('#app');
</script>