@{
    ViewData["Title"] = "Invitation Completed - " + ConfigurationSingleton.Instance.ApplicationName;
}

@{
  string headerText = "Invitation Completed";
}
<partial name="_H1HeaderPartial" model="@headerText" />

<p>You've completed your invitation, you can now <a asp-action="Login" asp-controller="Account">log in</a>.</p>